@import url('https://fonts.googleapis.com/css?family=Black+Ops+One&display=swap');

.header {
  height: 8vh;
  background-color: #18181a;
  display: flex;
  color: white;
  align-items: center;
  &--logo {
    margin: 3rem;
    background-image: url('../../images/words_icon.png');
    background-position: center;
    background-size: cover;
    width: 60px;
    height: 60px;
  }
  &--title {
    text-transform: uppercase;
    flex: 1;
    margin-left: 50px;
    font-family: 'Black Ops One', cursive;
    font-size: 50px;
  }
  &--user {
    margin: 3rem;
    &__button {
      padding: 10px 5px;
      margin: 10px;
      text-transform: uppercase;
      background: none;
      border: none;
      font-weight: 700;
    }
    &__login {
      color: white;
    }
    &__register {
      color: red;
    }
    &__avatar {
      margin-right: 3rem;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    &__icon {
      background: white;
      width: 3.5rem;
      height: 3.5rem;
      border-radius: 50%;
      // background-image: url('../../images/user.svg');
      background-size: 80%;
      background-repeat: no-repeat;
      background-position-x: center;
      background-position-y: 10px;
    }
    &__name {
      font-size: 0.6rem;
      margin-top: 5px;
    }
  }
}
