.hero {
  &--container {
    width: 60%;
    margin: auto;
    margin-top: 10rem;
    color: white;
    text-align: center;
  }
  &--title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
  }
  &--slogan {
    margin-top: 3rem;
    font-size: 1.1rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
  }
  &--button {
    margin-top: 3rem;
    padding: 20px 70px;
    text-transform: uppercase;
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 22, 22);
    color: white;
    font-weight: 700;
    letter-spacing: 0.1rem;
    box-shadow: 1px 3px 6px rgba(110, 110, 110, 0.8);
  }
}
